.container {
  lost-flex-container: column;
  
  h1:first-child {
    margin-top: 0;
  }
}

h1, header {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #888;
  border-bottom: 1px solid #999;
}

h1 {
  font-size: 2rem;
  width: 100%;
}

header {  
  lost-flex-container: row;
  width: 100%;
  vertical-align: baseline;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  lost-column: 1/4 0;
  lost-offset: 1/4;
  lost-align: right;
}

.section-toggle {
  font-size: 1.5rem;
  lost-column: 1/4;
}

.input-row {
  lost-flex-container: row;
  vertical-align: baseline;
  width: 100%;
  border-bottom: 1px solid #ccc;  
}

label, input {
  lost-column: 1/2 0;
  display: inline-block;
}

label {
  lost-align: right;
}

input {
  outline: none;
  border: none;
  border-left: 1px solid #ccc;
  padding-left: 0.125rem;
  background-color: #f8f8f8;
}
