.container {
  lost-flex-container: column;
  width: 15rem;
  
  h1:first-child {
    margin-top: 0;
  }
}

h1, h2 {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #888;
  border-bottom: 1px solid #999;
}

h1 {
  font-size: 2rem;
  width: 100%;
}

h2 {
  lost-flex-container: row;
  vertical-align: baseline;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  margin: 0;
  lost-column: 3/4 0;
  lost-offset: 1/4;
  lost-align: right;
}

.section-toggle {
  font-size: 1.5rem;
  lost-column: 1/4;
}

.input-row {
  lost-flex-container: row;
  vertical-align: baseline;
  width: 100%;
  border-bottom: 1px solid #ccc;  
}

label, input {
  lost-column: 1/2 0;
  display: inline-block;
}

label {
  lost-align: right;
}

input {
  outline: none;
  border: none;
  border-left: 1px solid #ccc;
  padding-left: 0.125rem;
  background-color: #f8f8f8;
}

.node-types {
  width: 100%;
  lost-flex-container: row;
}

.node-type {
  lost-column: 1/3 0;
  margin: 0.25rem;
  padding: 0.25rem;
  color: #999;
  cursor: pointer;
  &:hover {
    color: #666;
  }
}