.menu {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.125rem;
  padding: 0.25rem;
  position: absolute;
  lost-flex-container: column;
  font-size: 1.1rem;
  text-transform: lowercase;
  font-variant: small-caps;
}