@tailwind preflight;
@tailwind components;

// TODO -- need to fix this so it doesn't trample other utility classes because of specificity.
// In the meantime, I can just add each class I need as an additional rule here. Shouldn't be too many.
.highlight-children .highlightable { @apply .bg-blue-lighter }
.highlight-children .bg-blue-light { @apply .bg-blue-light }

@tailwind utilities;

// @import "../../node_modules/draft-js/dist/Draft.css";
// @import "../../node_modules/normalize.css/normalize.css";
// @import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
// @import "../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

* { box-sizing: border-box; }
th { text-align: left; }


// Use CSS selectors to resize headings based on how nested they are
h1, h2, h3, h4, h5 { @apply .my-4; }
h2, section > h1 { @apply .text-2xl; }
h3, section section > h1 { @apply .text-xl; }
h4, section section section > h1 { @apply .text-lg; }
h5, section section section section h1 { @apply .text-base; }

p { @apply .leading-normal; @apply .mb-4; }

.fixed-table { table-layout: fixed; }