@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("./open-sans/OpenSans-Regular.ttf") format("truetype")
}

.container {
  font: 14px "Open Sans", sans-serif;
  lost-center: 80rem 1rem flex;
  lost-flex-container: row;
  @lost flexbox flex;
}

.content {
  max-width: 40rem;
}

.navbar {
  width: 100%;
  margin-bottom: 1rem;
  flex-grow: 0;
}

.sidebarCollapsed {
  lost-flex-container: column;
}

.sidebar {
  lost-flex-container: column;
  lost-column: 1/4;
}

.disabled {
  display: none;
}

.collapser {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  width: 2rem;
}