@import "../../../node_modules/@blueprintjs/core/dist/variables.scss";

:global * { box-sizing: border-box; }

.container {
  @lost flexbox flex;
  lost-flex-container: column;
  background-color: $pt-app-background-color;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.content {
  max-width: 60rem;
  margin: 0.75rem 1.5rem;
}

.navbar {
  width: 100%;
  margin-bottom: 0.5rem;
  flex-grow: 0;
}