@import "../styles/typography.scss";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("./open-sans/OpenSans-Regular.ttf") format("truetype")
}

:global * { box-sizing: border-box; }

.container {
  @mixin default-typography();
  lost-flex-container: row;
  @lost flexbox flex;
}

.content {
  max-width: 60rem;
}

.navbar {
  width: 100%;
  margin-bottom: 0.5rem;
  flex-grow: 0;
}

.sidebarCollapsed {
  lost-flex-container: column;
}

.sidebar {
  lost-flex-container: column;
}

.disabled {
  display: none;
}