@import '../../styles/colors.scss';

.tile-base {
  // display: inline-flex;
  // flex-flow: column nowrap;
  text-align: center;

  // padding: 0.25em 0.5em;
  // margin: 0.25em;
  max-width: 7em;
  
  // color: $primary-fg;
  // fill: $primary-fg;
  // border: 1px solid $primary-border;
  // border-radius: 0.125em;
}

.icon {
  font-size: 2.5em;
  width: 1em;
  height: 1em;
  margin: auto;
  padding-bottom: 0.06em;
}

.icon-content {
}

.content {

}