.node {
  lost-flex-container: column;
  padding: 0.25rem;
  padding-top: 0;
  border-radius: 0.125rem;
  border: 1px dashed rgba(0, 0, 0, 0); 
}

.outlined {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.handle {
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.125rem;
  margin-left: -0.25rem;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}