/* Global colors
   Describes application-level theme. Currently rips off Solarized.
*/

$color-fg-primary: #657b83;
$color-fg-secondary: #93a1a1;
$color-fg-emphasis: #586e75;
$color-bg-primary: #fdf6e3;
$color-bg-secondary: #eee8d5;
$color-bg-emphasis: $color-bg-secondary;