@import '../../styles/colors.scss';

.paper {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 0.75rem;
}

.paper-interactive {
  @extend .paper;
  &:hover {
    cursor: pointer;
    color: $hover-fg;
    background-color: $hover-bg;
  }
}